extends layout

block content
  h1 WeFi Hotspots Near You
  p.lead Login to use these hotspots 
  hr
  .row
    .col-sm-6
      // PROVIDER LIST
      h2 Available WeFi Hotspots
      #providerList
          table.table
              thead
                  th WiFi
                  th WiFi Password
                  th Message
                  th Location
              tbody
      h3 Want to host a WeFi hot spot?
      a#loginbutton.btn-link(href='/wefihost') Become a host today