extends layout

block content
  h1 WeFi Hotspots Near You
  hr
  .row
    .col-sm-6
      // USER LIST -- This is the list for users
      #userList
          table.table
              thead
                  th WiFi
                  th WiFi Password
                  th Message
                  th Location
              tbody
      h3 Host a WeFi hot spot?
      a#loginbutton.btn-link(href='/wefihost') Become a host and split your wifi bill